<!-- cash/expense/expense_form.html -->
{% extends "../../layout.html" %}
{% load custom_filters %}

{% block header %}
<span class="navbar-brand mb-0 h1 text-white">sortie</span>

<!-- Undo and Redo Icons -->
<div class="ml-2 d-flex align-items-stretch">
    <a href="{% url 'home' %}" class="class-card mr-3">Annuler</a>
   {% comment %}
    <button class=" mr-3 class-card " id="undo-button" title="Undo">
                    <i class="fas fa-undo fa-lg"></i>
                </button>
   {% endcomment %}
    <h1 class='mr-3 text-white'><strong>{{ page_identifier }}</strong></h1>
</div>
{% endblock header %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header  text-white">
        
        </div>
        <div class="card-body">
            <form method="post" class="needs-validation" novalidate>
                {% csrf_token %}

                <!-- Description Field -->
                <div class="form-group">
                    <label for="id_description">Description:</label>
                    {{ form.description }}
                    {% if form.description.errors %}
                        <div class="invalid-feedback">
                            {{ form.description.errors.0 }}
                        </div>
                    {% endif %}
                </div>

                <!-- Amount Field -->
                <div class="form-group">
                    <label for="id_amount">Amount:</label>
                    {{ form.amount }}
                    {% if form.amount.errors %}
                        <div class="invalid-feedback">
                            {{ form.amount.errors.0 }}
                        </div>
                    {% endif %}
                </div>

                <!-- Date Field -->
                <div class="form-group">
                    <label for="id_date">Date:</label>
                    {{ form.date }}
                    {% if form.date.errors %}
                        <div class="invalid-feedback">
                            {{ form.date.errors.0 }}
                        </div>
                    {% endif %}
                </div>

                <!-- Note Field -->
                <div class="form-group">
                    <label for="id_note">Note:</label>
                    {{ form.note }}
                    {% if form.note.errors %}
                        <div class="invalid-feedback">
                            {{ form.note.errors.0 }}
                        </div>
                    {% endif %}
                </div>

                <!-- C_SCO Balance Field -->
                <div class="form-group">
                    <label for="c_sco_balance">C_SCO Balance:</label>
                    <!-- Display balance as a read-only field -->
                    <input type="text" id="c_sco_balance" class="form-control" value="{{ cashier_balance|format_amount }}" readonly>
                </div>

                <!-- Submit Button -->
                <button type="submit" class="btn btn-success">Valider</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
