{% extends "../../layout.html" %}
{% load custom_filters %}
<!-- Include DataTables CSS and JS -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
{% block header %}
<div class="d-flex justify-content-between align-items-center w-100">
    <div class="d-flex align-items-center">
        <span class="navbar-brand mb-0 h1 text-white">Sortie</span>
         <!-- Display Total Expense -->
         <div class='text-white ml-3'><strong>Total: {{ total_expense|format_amount }}</strong></div> <!-- Format as needed -->
    </div>


    <div class="d-flex align-items-stretch">
        <a href="{% url 'expense_create' %}" class="class-card mr-3">Ajout Sortie</a>
        <button class="class-card mr-3 hidden-print" id="print-button" title="Print" onclick="myFunction()">
            <i class="fas fa-print"></i>
        </button>
      {% comment %}
          <button class="class-card mr-3 hidden-print" id="export-button" title="Export to Excel" onclick="exportToExcel()">
              <i class="fas fa-file-excel"></i>
          </button>
      {% endcomment %}
        <button class="class-card mr-3" id="undo-button" title="Undo">
            <i class="fas fa-undo"></i>
        </button>
        <button class="class-card mr-3" id="redo-button" title="Redo">
            <i class="fas fa-redo"></i>
        </button>
        <h2 class='mr-3 text-white'><strong>{{ page_identifier }}</strong></h2>
        
       
    </div>
</div>
{% endblock header %}
{% block content %}
<style>
    .table-container {
        max-width: 100%;
        overflow-x: auto;
        border-radius: 10px;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    .table th,
    .table td {
        padding: 5px 10px !important;
        text-align: center;
        font-size: 12px;
    }

    .table th {
        background-color: #333;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
    }

    .table tbody tr:hover {
        background-color: #e9ecef;
    }

    /* Alignments */
    .dt-left {
        text-align: left !important;
    }

    .dt-right {
        text-align: right !important;
    }
</style>
<div class="table-responsive">
    <table id="expensesTable" class="table table-striped display table-bordered compact">
        <thead>
            <tr>
                <th  class='dt-left'>Date</th>
                <th>Description</th>
                <th>Montant</th>
                <th>Total Progressif</th>
                <th class='w-50'></th>
            </tr>
        </thead>
        <tbody>
            {% for item in expenses %}
            <tr>
                <!-- Ensures proper date sorting while displaying YYYY-MM-DD format -->
                <td   class='dt-left' data-order="{{ item.expense.date|date:'Y-m-d H:i:s' }}">{{ item.expense.date|date:'Y-m-d H:i:s' }}</td>
                <td  class='dt-left'>COMPT-{{ item.expense.description }}</td>
                <td class='dt-right'>{{ item.expense.amount|format_amount }}</td>
                <td class="highlight-negative dt-right">{{ item.progressive_total|format_amount }}</td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('#expensesTable').DataTable({
            "order": [[0, "desc"]],  // Sort by date (column index 0) in descending order by default
            "columnDefs": [
                { "type": "date", "targets": 0 }  // Ensure proper date sorting
            ],
            "pageLength": 40,  // Default to 40 entries per page
            "lengthMenu": [[40, 100, -1], [40, 100, "All"]]  // Pagination options
        });
    });
</script>

{% endblock %}
