{% extends "../../layout.html" %}
{% load crispy_forms_tags %}
{% block header %}
<span class="navbar-brand mb-0 h1 text-white">Chang School</span>
          
    
            <!-- Undo and Redo Icons -->
            <div class="ml-2 d-flex align-items-stretch">
      <button class=" mr-3 class-card " id="undo-button" title="Undo">
                    <i class="fas fa-undo fa-lg"></i>
                </button>
                <h2 class='mr-3 text-white'><strong>{{ page_identifier }}</strong></h2>
            </div>
{% endblock header %}
{% block content %}

<div class="container mt-4">
    <h1>Upgrade Class for {{ student.nom }} {{ student.prenom }}</h1>
    <form method="post" action="{% url 'class_upgrade' pk=student.pk %}">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="form-group mt-3">
            <button type="submit" class="btn btn-primary">Upgrade Class</button>
            <a href="{% url 'student_detail' pk=student.pk %}" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
