{% extends "../../layout.html" %}
{% load crispy_forms_tags %}

{% block content %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'student_detail' pk=student.pk %}">{{ student.nom }} {{ student.prenom }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Upgrade Class</li>
</ol>

<div class="container mt-4">
    <h1>Upgrade Class for {{ student.nom }} {{ student.prenom }}</h1>
    <form method="post" action="{% url 'class_upgrade' pk=student.pk %}">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="form-group mt-3">
            <button type="submit" class="btn btn-primary">Upgrade Class</button>
            <a href="{% url 'student_detail' pk=student.pk %}" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
