{% extends "../../layout.html" %}
{% load crispy_forms_tags %}


{% block header %}
<span class="text-white mb-0">Manage Schools</span>
<div class="ml-2 d-flex align-items-stretch">
    <a href="{% url 'school_create' %}" class="class-card mr-3">
        Add School
    </a>
    <button class=" mr-3 class-card " id="undo-button" title="Undo">
                    <i class="fas fa-undo fa-lg"></i>
                </button>
    <h2 class='mr-3 text-white'><strong>{{ page_identifier }}</strong></h2>
</div>
{% endblock header %}

{% block content %}
<div class="table-container">
    <!-- List of Schools -->
    <div class="table-responsive">
        <table class="table table-striped table-bordered" id="schoolTable">
            <thead>
                <tr>
                    <th>School Name</th>
                    <th>City</th>
                    <th>Contact Name</th>
                    <th>Contact Email</th>
                    <th>Number of Students</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for school in schools %}
                <tr>
                    <td>{{ school.nom }}</td>
                    <td>{{ school.ville }}</td>
                    <td>{{ school.nom_du_referent }} {{ school.prenom_du_referent }}</td>
                    <td>{{ school.email_du_referent }}</td>
                    <td>{{ school.num_students }}</td>
                    <td>
                        <a href="{% url 'school_detail' school.pk %}" class="btn btn-info btn-sm">
                            <i class="fas fa-eye"></i>
                        </a>
                        <a href="{% url 'school_update' school.pk %}" class="btn btn-warning btn-sm">
                            <i class="fas fa-pencil-alt"></i>
                        </a>
                        <a href="{% url 'school_delete' school.pk %}" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#schoolTable').DataTable({
           // dom: 'Bfrtip',  // Add buttons for export, print, etc.
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            pageLength:40 ,  // Show 10 rows per page by default
            lengthMenu: [10, 25, 50, 100],  // Dropdown for rows per page
            order: [[0, 'asc']],  // Default sorting by the first column (ascending)
            responsive: true,  // Enable responsive design
            language: {
                search: "Search:",  // Customize search placeholder
                paginate: {
                    next: 'Next',  // Customize pagination text
                    previous: 'Previous'
                }
            }
        });
    });
</script>
{% endblock %}