{% extends "../../layout.html" %}
{% block header %}
<span class="navbar-brand mb-0 h1 text-white">Navbar</span>
          

            <div class="ml-2 d-flex align-items-stretch">
                <button class=" mr-3 class-card " id="undo-button" title="Undo">
                    <i class="fas fa-undo fa-lg"></i>
                </button>
                <h2 class='mr-3 text-white'><strong>{{ page_identifier }}</strong></h2>
            </div>
{% endblock header %}
{% block content %}
  <h2>{{ object.nom }} Details</h2>
  <!-- Add other school details here -->

  <a href="{% url 'school_update' object.pk %}">Edit School</a>
  <a href="{% url 'school_delete' object.pk %}" class="btn btn-danger">Delete School</a>
{% endblock %}