{% extends "../../layout.html" %}
{% load static %}
{% load bootstrap5 %}
{% load widget_tweaks %}

{% block header %}
<span class="navbar-brand mb-0 h1 text-white">ajouter etudiant</span>

<!-- Undo and Redo Icons -->
<div class="ml-2 d-flex align-items-stretch">
    <a href="{% url 'home' %}" class="class-card mr-3">Annuler</a>
    <button class="class-card mr-3" id="undo-button" title="Undo">
        <i class="fas fa-undo"></i>
    </button>
    <button class="class-card mr-3" id="redo-button" title="Redo">
        <i class="fas fa-undo"></i>
    </button>
    <h2 class='mr-3 text-white'><strong>{{ page_identifier }}</strong></h2>
</div>
{% endblock header %}

{% block content %}
<style>
    /* Your existing styles... */
</style>

<div class="container-fluid">
    <div class="row">
        <!-- Student Form -->
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header">Ajouter un etudiant</div>
                <div class="card-body">
                    <form method="post" action="{% url 'new_student' %}" id="EleveForm" data-classes-url="{% url 'get_classes_by_school' %}">
                        {% csrf_token %}

                        {% if form.errors %}
                        <div class="alert alert-danger">
                            Veuillez corriger les erreurs suivantes:
                            {{ form.errors }}
                        </div>
                        {% endif %}

                        <div class="form-group">
                            <label for="id_nom" class="info-label">Nom:</label>
                            {% render_field form.nom class="form-control info-input" %}
                        </div>

                        <div class="form-group">
                            <label for="id_prenom" class="info-label">Prénom:</label>
                            {% render_field form.prenom class="form-control info-input" %}
                        </div>

                        <div class="form-group">
                            <label for="id_condition_eleve" class="info-label">État:</label>
                            {% render_field form.condition_eleve class="form-control info-input" %}
                        </div>

                        <div class="form-group">
                            <label for="id_sex" class="info-label">Sexe:</label>
                            {% render_field form.sex class="form-control info-input" %}
                        </div>

                        <div class="form-group">
                            <label for="id_date_naissance" class="info-label">Date Naissance:</label>
                            {% render_field form.date_naissance class="form-control info-input" %}
                        </div>

                        <div class="form-group">
                            <label for="id_cs_py" class="info-label">CS PY:</label>
                            {% render_field form.cs_py class="form-control info-input" %}
                        </div>

                        <div class="form-group">
                            <label for="id_date_enquete" class="info-label">Date Enquête:</label>
                            {% render_field form.date_enquete class="form-control info-input" %}
                        </div>

                        <div class="form-group">
                            <label for="id_hand" class="info-label">Handicap:</label>
                            {% render_field form.hand class="form-control info-input" %}
                        </div>

                        <div class="form-group">
                            <label for="id_note_eleve" class="info-label">Note:</label>
                            {% render_field form.note_eleve class="form-control info-input" %}
                        </div>
                </div>
            </div>
        </div>

        <!-- Class Selection Section -->
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header">Sélectionner la Classe</div>
                <div class="card-body">
                        <div class="form-group">
                            <label for="id_ecole" class="info-label">École:</label>
                            <select id="id_ecole" class="form-control info-input" name="ecole">
                                <option value="">---------</option>
                                {% for ecole in ecoles %}
                                    <option value="{{ ecole.id }}">{{ ecole.nom }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="id_classe" class="info-label">Classe:</label>
                            {% render_field form.classe class="form-control info-input" %}
                        </div>

                        <div class="form-group">
                            <label for="id_parent" class="info-label">Parent:</label>
                            {% render_field form.parent class="form-control info-input" %}
                        </div>

                        <div class="form-group">
                            <label for="id_tel_parent" class="info-label">Téléphone Parent:</label>
                            {% render_field form.tel_parent class="form-control info-input" %}
                        </div>

                        <div class="form-group">
                            <label for="id_annee_inscr" class="info-label">Année Inscription:</label>
                            {% render_field form.annee_inscr class="form-control info-input" %}
                        </div>

                        <div class="form-group">
                            <label for="id_annee_scolaire" class="info-label">Année Scolaire:</label>
                            {% render_field form.annee_scolaire class="form-control info-input" %}
                        </div>

                        <div class="form-buttons mt-3">
                            <button type="submit" class="class-card">Créer Étudiant</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(function () {
        $("#id_ecole").change(function () {
            const url = $("#EleveForm").attr("data-classes-url");  // get the url of 'get_classes_by_school'
            const ecoleId = $(this).val();  // get the value of selected school

            $.ajax({                          // initialize an AJAX request
                url: url,                    // set the url of the request (= current URL)
                data: {
                    'ecole': ecoleId         // add the school id to the GET parameters
                },
                success: function (data) {   // `data` is the return of the `get_classes_by_school` view function
                    $("#id_classe").html(data);  // replace the contents of the classe input with the returned data
                }
            });
        });
    });
</script>
{% endblock content %}
