{% extends "../../layout.html" %}
{% load crispy_forms_tags %}
{% load custom_filters %}
{% include 'scuelo/paiements/add_paiement_modal.html' %}

<style>
    .modal-lg .modal-dialog {
        max-width: 80%;
    }
    .page-title {
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 40px;
        color: #333;
    }
    .card {
        border: none;
        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: transform 0.3s, box-shadow 0.3s;
        background-color: #007bff;
    }
    .card-body {
        padding: 20px;
        color: #ffffff;
        transition: transform 0.2s;
    }
    .card:hover {
        transform: translateY(-10px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }
    .card-title {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .card-text {
        font-size: 1rem;
        margin-bottom: 10px;
    }
    .btn-print {
        background-color: #17a2b8;
        border-color: #17a2b8;
        color: white;
        border-radius: 20px;
        padding: 5px 10px;
        font-size: 14px;
    }
    .btn-print:hover {
        background-color: #138496;
        border-color: #138496;
    }
    .card-body h5 {
        font-size: 14px;
    }
    .dataTables_wrapper {
        margin-top: 20px;
    }
    .dataTables_length, .dataTables_filter {
        margin-bottom: 10px;
    }
    .dataTables_paginate {
        margin-top: 10px;
    }
</style>

{% block header %}
<h2 class="navbar-brand mb-0 h1 text-white">Gestion Eleve</h2>
<div class="ml-2 d-flex align-items-stretch">
    <a href="{% url 'student_update' pk=student.pk %}" class="class-card ml-2"><i class="fas fa-pencil-alt"></i> Modif eleve</a>
    <a href="{% url 'class_upgrade' pk=student.pk %}" class="class-card ml-2"><i class="fas fa-level-up-alt"></i> Chang Class & Ecole</a>
    <a href="{% url 'add_paiement' student.pk %}" class="class-card ml-2"><i class="fas fa-plus"></i> +Paiement</a>
    <button class="class-card mr-3 ml-3" id="undo-button" title="Undo"><i class="fas fa-undo"></i></button>
    <button class="class-card mr-3" id="redo-button" title="Redo"><i class="fas fa-redo"></i></button>
    <h2 class='mr-3 text-white'><strong>{{ page_identifier }}</strong></h2>
</div>
{% endblock header %}

{% block content %}
<style>
    .card-body h5 {
        font-size: 16px;
        margin-bottom: 30px;
    }
</style>
<div class="d-flex justify-content-between mb-4">
    <!-- Optional: Add additional buttons or links here -->
</div>
<div class="mt-4" style="max-width: 95%; margin: 0 auto;">
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header">
                    Information de base
                </div>
                <div class="card-body">
                    <h5>ID: {{ student.id }}</h5> <!-- Added Student ID -->
                    <h5>Nom: {{ student.nom }}</h5>
                    <h5>Prénom: {{ student.prenom }}</h5>
                    <h5>Condition: {{ student.get_condition_eleve_display }}</h5>
                    <h5>Sexe: {{ student.get_sex_display }}</h5>
                    <h5>Date de Naissance: {{ student.date_naissance|date:'Y-m-d' }}</h5>
                    <h5>CS PY: {{ student.get_cs_py_display }}</h5>
                    {% if student.hand %}
                    <h5>Hand: {{ student.get_hand_display }}</h5>
                    {% else %}
                    <h5 style="color: black;">Hand:</h5>
                    {% endif %}
                    {% if student.date_enquete %}
                    <h5>Date enquete: {{ student.date_enquete|date:'Y-m-d' }}</h5>
                    {% else %}
                    <h5 style="color: black;">Date enquete:</h5>
                    {% endif %}
                    {% if student.parent %}
                    <h5>Parent: {{ student.parent }}</h5>
                    {% else %}
                    <h5 style="color: black;">Parent:</h5>
                    {% endif %}
                  {% comment %}
                     <h5>Ann ée d'inscription: {{ student.annee_inscription }}</h5> <!-- Added Enrollment Year -->
                  {% endcomment %}
                    {% if student.note_eleve %}
                    <h5>Notes: {{ student.note_eleve }}</h5>
                    {% else %}
                    <h5 style="color: black;">Notes:</h5>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card school-class-card mb-3">
                <div class="card-header ">
                    Informations École et Classe
                </div>
                <div class="card-body">
                    <h5><strong>École:</strong> {{ current_school_name }}</h5>
                    <h5><strong>Classe:</strong> {{ current_class_name }}</h5>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <div class="col-md-12 mb-5">
                        <table id="payments-table" class="table table-striped table-bordered" style="width:100%">
                            <thead class="thead-light">
                                <tr>
                                    <th>Date</th>
                                    <th>Causal</th>
                                    <th>Montant</th>
                                    <th>Note</th>
                                {% comment %}
                                        <th>Actions</th>
                                {% endcomment %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for payment in payments %}
                                <tr>
                                    <td>{{ payment.date_paye|date:'Y-m-d' }}</td>
                                    <td>{{ payment.causal }}</td>
                                    <td>{{ payment.montant|format_amount }}</td>
                                    <td>{% if payment.note %}{{ payment.note }}{% else %}<span style="color: black;"></span>{% endif %}</td>
                                  {% comment %}
                                      <td>
                                          <a href="{% url 'update_paiement' pk=payment.pk %}" class="btn btn-primary btn-sm"><i class="fas fa-sync-alt"></i></a>
                                          <form method="POST" action="{% url 'student_detail' student.pk %}" style="display:inline;">
                                              {% csrf_token %}
                                          {% comment %}
                                                  <input type="hidden" name="payment_id" value="{{ payment.id }}">
                                                     <button type="submit" name="print_receipt" class="btn btn-print btn-sm">
                                                  <i class="fas fa-print"></i>
                                              </button>
                                
                                           
                                          </form>
                              
                                    </td>
                                    {% endcomment %}
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="2"><strong>Total paiement:</strong></td>
                                    <td><strong>{{ total_payment }} FCFA</strong></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Include DataTables CSS and JS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
<script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function() {
        // Initialize DataTable
        $('#payments-table').DataTable({
            "paging": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.11.5/i18n/French.json" // French translation
            }
        });

        // AJAX form submission for payment
        $('#payment-form').on('submit', function(event) {
            event.preventDefault();
            $.ajax({
                url: $(this).attr('action'),
                type: 'POST',
                data: $(this).serialize(),
                success: function(response) {
                    if (response.success) {
                        alert('Payment added successfully');
                        // Optionally, refresh the table or update the page
                    } else {
                        alert('Failed to add payment: ' + response.errors);
                    }
                }
            });
        });
    });
</script>
{% endblock content %}