{% extends "../../layout.html" %}

{% block content %}
<div class='w-100'>
    <ol class="breadcrumb">  
        <li class="breadcrumb-item active" aria-current="page">/Manage Annee Scolaire</li>
    </ol>
    <div class="mb-5">
    </div>
    <h3> liste des annees scolaire </h3>
    <table class="table table-striped table-bordered payments-table  w-95  ">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Nom Bref</th>
                <th>Date Initiale</th>
                <th>Date Finale</th>
                <th>Actuel</th>
                <th>Total eleve</th>
                <th>Total fille</th>
                <th>Total garcons</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for annee_scolaire in annee_scolaires %}
            <tr>
                <td>{{ annee_scolaire.nom }}</td>
                <td>{{ annee_scolaire.nom_bref }}</td>
                <td>{{ annee_scolaire.date_initiale }}</td>
                <td>{{ annee_scolaire.date_finale }}</td>
                <td>{{ annee_scolaire.actuel }}</td>
                <td>{{ annee_scolaire.total_students }}</td>
                <td>{{ annee_scolaire.total_girls }}</td>
                <td>{{ annee_scolaire.total_boys }}</td>
                <td>
                    <a href="{% url 'update_annee_scolaire' annee_scolaire.pk %}" class="btn btn-danger btn-sm">  <i class="fas fa-chart-line fa-2x"></i> </i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}


