{% extends "../../layout.html" %}
{% block header %}
<span class="navbar-brand mb-0 h1">Navbar</span>
          
    
            <!-- Undo and Redo Icons -->
            <div class="ml-2 d-flex align-items-stretch">
                <button class=" mr-3 class-card " id="undo-button" title="Undo">
                    <i class="fas fa-undo fa-lg"></i>
                </button>
                <h2 class='mr-3 text-white'><strong>{{ page_identifier }}</strong></h2>
            </div>
{% endblock header %}
{% block content %}
<div class="container">
    <h2>Make Uniform Reservation</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        
        <!-- Display prepopulated student information if available -->
        {% if student %}
            <p><strong>Student:</strong> {{ student.nom }} {{ student.prenom }}</p>
        {% endif %}
        
        <button type="submit" class="btn btn-primary">Submit Reservation</button>
        <a href="{% url 'uniform-reservation-list' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}