<!-- templates/reservations/uniform_reservation_confirm_delete.html -->

{% extends "../../layout.html" %}
{% block header %}
<span class="navbar-brand mb-0 h1 text-white">Navbar</span>
          
    
            <!-- Undo and Redo Icons -->
            <div class="ml-2 d-flex align-items-stretch">
                 <button class=" mr-3 class-card " id="undo-button" title="Undo">
                    <i class="fas fa-undo fa-lg"></i>
                </button>
                <h2 class='mr-3 text-white'><strong>{{ page_identifier }}</strong></h2>
            </div>
{% endblock header %}
{% block content %}
<h2>Confirm Deletion</h2>
<p>Are you sure you want to delete this reservation?</p>
<form method="post">
    {% csrf_token %}
    <button type="submit">Confirm</button>
    <a href="{% url 'uniform-reservation-list' %}">Cancel</a>
</form>
{% endblock %}
