{% extends "../layout.html" %}
{% block content %}
<h1>Rights Management</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Permission</th>
            <th>Codename</th>
        </tr>
    </thead>
    <tbody>
        {% for permission in permissions %}
        <tr>
            <td>{{ permission.id }}</td>
            <td>{{ permission.name }}</td>
            <td>{{ permission.codename }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
