{% extends "../../layout.html" %}
{% load crispy_forms_tags %}
{% block header %}
<span class="navbar-brand mb-0 h1 text-white">Ajouter classe</span>
          
    
            <!-- Undo and Redo Icons -->
            <div class="ml-2 d-flex align-items-stretch">
               
   <button class=" mr-3 class-card " id="undo-button" title="Undo">
                    <i class="fas fa-undo fa-lg"></i>
                </button>
                <h2 class='mr-3 text-white'><strong>{{ page_identifier }}</strong></h2>
            </div>
{% endblock header %}
{% block content %}
<div class="container mt-4">
  

    <div class="card shadow-sm">
   
        <div class="card-body">
            <form method="post" class="needs-validation" novalidate>
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
             
                            {{ form.nom|as_crispy_field }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="{{ form.type.id_for_label }}" class="font-weight-bold">Type</label>
                            <select name="{{ form.type.name }}" id="{{ form.type.id_for_label }}" class="form-control">
                                {% for value, label in form.type.field.choices %}
                                    <option value="{{ value }}" {% if form.type.value == value %}selected{% endif %}>
                                        {{ label }}
                                    </option>
                                {% endfor %}
                            </select>
                            {% if form.type.errors %}
                                <div class="invalid-feedback">
                                    {{ form.type.errors|join:", " }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-4">
                    <button type="submit" class="btn btn-primary btn-lg">
                      </i> ok
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>




{% endblock %}