{% extends "../../layout.html" %}
{% block header %}
<span class="navbar-brand mb-0 h1 text-white">Sup classe</span>
          
    
            <!-- Undo and Redo Icons -->
            <div class="ml-2 d-flex align-items-stretch">
                <a href="{% url 'school_detail' object.ecole.pk %}" class="class-card mr-3">Cancel</a>
              <button class=" mr-3 class-card " id="undo-button" title="Undo">
                    <i class="fas fa-undo fa-lg"></i>
                </button>
                <h2 class='mr-3 text-white'><strong>{{ page_identifier }}</strong></h2>
            </div>
{% endblock header %}
{% block content %}

<div class="container">
    <h1>Delete Class</h1>
    <p>Are you sure you want to delete the class "{{ object.nom }}"?</p>
    <form method="post">
        {% csrf_token %}
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-danger">Delete</button>
           
        </div>
    </form>
</div>
{% endblock %}
