{% extends "../layout.html" %}
{% block content %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'school_detail' object.ecole.pk %}">School Details</a></li>
    <li class="breadcrumb-item active" aria-current="page">Delete Class</li>
</ol>
<div class="container">
    <h1>Delete Class</h1>
    <p>Are you sure you want to delete the class "{{ object.nom }}"?</p>
    <form method="post">
        {% csrf_token %}
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-danger">Delete</button>
            <a href="{% url 'school_detail' object.ecole.pk %}" class="btn btn-secondary ml-2">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
