{% extends "../../layout.html" %}

{% block header %}
<div class="d-flex justify-content-between align-items-center w-100">
    <!-- Left-aligned elements -->
    <div class="d-flex align-items-center">
        <span class="navbar-brand mb-0 h1 text-white">nouveau paiement</span>
    
    </div>

    <!-- Center-aligned elements (Tot and Total Paid) -->
    <div class="d-flex align-items-center">

  
    <!-- Right-aligned elements (Undo, Redo, and Page Identifier) -->
    <div class="d-flex align-items-stretch">
        <a href="{% url 'student_detail' student.id %}" class="class-card mr-3">Cancel</a> 
        <button class="class-card mr-3" id="undo-button" title="Undo">
            <i class="fas fa-undo"></i>
        </button>
        <button class="class-card mr-3" id="redo-button" title="Redo">
            <i class="fas fa-redo"></i>
        </button>
        <h2 class='mr-3 text-white'><strong>{{ page_identifier }}</strong></h2>
    </div>
</div>
{% endblock header %}
{% block content %}
<div class="container mt-4">

    
    <!-- Display Student Information -->
    <div class="alert alert-info">
 
        <strong>ID:</strong> {{ student.id }}<br> <!-- Display Student ID -->
        <strong>Name:</strong> {{ student.nom }} {{ student.prenom }}<br>
        <strong>Class:</strong> {{ class_type }}<br> <!-- Display Class Type -->
        <strong>School:</strong> {{ school_name }}<br> <!-- Display School Name -->
    </div>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
    
</div>
{% endblock %}
