{% extends "../../layout.html" %}
{% load crispy_forms_tags %}
{% block header %}
<span class="navbar-brand mb-0 h1 text-white ">Navbar</span>
          
    
            <!-- Undo and Redo Icons -->
            <div class="ml-2 d-flex align-items-stretch">
               <button class=" mr-3 class-card " id="undo-button" title="Undo">
                    <i class="fas fa-undo fa-lg"></i>
                </button>
                <h2 class='mr-3'><strong>{{ page_identifier }}</strong></h2>
            </div>
{% endblock header %}
{% block content %}
<div class=" mt-4">
    <h3>{% if object %}Modifier le Tarif{% else %}Ajouter un Tarif{% endif %} pour la classe {{ classe.nom }}</h3>

    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success mt-3">
            {% if object %}Modifier{% else %}Ajouter{% endif %}
        </button>

</div>
{% endblock %}
