<!-- cash/income_list.html -->
{% extends "../../layout.html" %}
{% load custom_filters %}

{% block header %}
<div class="d-flex justify-content-between align-items-center w-100">
    <div class="d-flex align-items-center">
        <h2 class='navbar-brand mb-0 h1 text-white'>Entrées  (C-SCO Cashier)</h2>
        <p class='navbar-brand mb-0 h1 text-white'> {{ user.username }}</p>
    </div>
    <h1 class='navbar-brand mb-0 h1 text-white'>Total: {{ total_montant|format_amount }}</h1>

    <div class="d-flex align-items-stretch">
        <button class="class-card mr-3 hidden-print" id="print-button" title="Print" onclick="myFunction()"><i class="fas fa-print"></i></button>
   <button class=" mr-3 class-card " id="undo-button" title="Undo">
                    <i class="fas fa-undo fa-lg"></i>
                </button>
        <h2 class='mr-3 text-white'><strong>{{ page_identifier }}</strong></h2>
    </div>
</div>
{% endblock header %}

{% block content %}
<style>
    .table-container {
        max-width: 100%;
        overflow-x: auto;
        border-radius: 10px;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    .table th,
    .table td {
        padding: 8px !important;
        text-align: center;
        font-size: 12px;
    }

    .table th {
        background-color: #333;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
    }

    .table tbody tr:hover {
        background-color: #e9ecef;
    }

    /* Custom CSS for left alignment */
    .dt-left {
        text-align: left !important;
    }

    /* Custom CSS for right alignment */
    .dt-right {
        text-align: right !important;
    }
</style>

<div>

    <table id="" class="table table-striped display table-bordered compact">
        <thead>
            <tr>
                <th class=' dt-left'>Date</th>
                <th class=' dt-left'>Causal</th>
                <th>Montant</th>
                <th>Progressive Total</th>
                <th class='dt-left'>Inscription Info</th>
                <th class='dt-left'></th>
                <th class='dt-left'></th>
            </tr>
        </thead>
        <tbody>
            {% for income in income_list %}
            <tr>
                <td class=' dt-left'>{{ income.date|date:'Y-m-d' }}</td>
                <td class=' dt-left'>{{ income.causal }}</td>
                <td class=' dt-right'>{{ income.montant|format_amount }}</td> <!-- Format montant -->
                <td class=' dt-right'>{{ income.progressive|default:"0"|format_amount }}</td> <!-- Format progressive -->
                <td class=' dt-left'>{{ income.inscription_info }}</td>
                <td class=' dt-left'></td>
                <td class=' dt-left w-20'></td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">Aucune entrée disponible.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

<!-- Include jQuery and DataTables -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function() {
        $('#entreeSortieTable').DataTable({
            "language": {
                "search": "Search:",
                "lengthMenu": "Display _MENU_ records per page",
                "info": "Showing page _PAGE_ of _PAGES_",
                "infoEmpty": "No records available",
                "zeroRecords": "No matching records found",
                "paginate": {
                    "next": "Next",
                    "previous": "Previous"
                }
            },
            "columnDefs": [
                { "className": "dt-left", "targets": [0, 1] }, // Date and Causal columns
                { "className": "dt-right", "targets": [2, 3] } // Montant and Progressive columns
            ],
            "ordering": true,      // Enable sorting
            "order": [[0, "asc"]], // Order by the first column (Date) in descending order
            "paging": false,      // Disable pagination
            "info": false,        // Disable info
            "searching": true      // Enable searching
        });
    });
</script>


{% endblock %}
