{% extends "../../layout.html" %}
{% block header %}
<span class="navbar-brand mb-0 h1">Navbar</span>
          
    
            <!-- Undo and Redo Icons -->
            <div class="ml-2 d-flex align-items-stretch">
           <button class=" mr-3 class-card " id="undo-button" title="Undo">
                    <i class="fas fa-undo fa-lg"></i>
                </button>
                <h2 class='mr-3'><strong>{{ page_identifier }}</strong></h2>
            </div>
{% endblock header %}
{% block content %}
<div class="container">
    <h1>{% if object %}Update{% else %}Add{% endif %} Inflow/Outflow</h1>
    <form method="post" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">{% if object %}Update{% else %}Add{% endif %}</button>
    </form>
</div>
{% endblock %}
