{% extends "../layout.html" %}
{% load crispy_forms_tags %}

{% block content %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'school_detail' object.ecole.pk %}">School Details</a></li>
    <li class="breadcrumb-item active" aria-current="page">Update Class</li>
</ol>
<div class="container">
    <h1>Update Class</h1>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </form>
</div>
{% endblock %}
