{% extends "../layout.html" %}



{% block content %}
<style>
</style>

<ol class="breadcrumb">
    
    <li class="breadcrumb-item active" aria-current="page">/Dashboard</li>
</ol>
<!-- Content Row -->
<div class=" container row">
    <!-- Total Tenues Card -->
    <div class="col-lg-4 mb-4">
        <div class="card shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Tenues</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_tenues }}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-tshirt fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Total Payments Count Card -->
    <div class="col-lg-4 mb-4">
        <div class="card shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Payments</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_payments_count }}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-coins fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Total Montant All Payments Card -->
    <div class="col-lg-4 mb-4">
        <div class="card shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Montant of All Payments</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_montant_all_payments }}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% for classe, total_tenues in total_tenues_per_class.items %}
    <div class="col-lg-4 mb-4">
        <div class="card shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{ classe }} Total Tenues</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_tenues }}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-tshirt fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    
    <div>
        <h3>Payment Distribution by Causal</h3>
        <canvas  class='w-100 h-80'  id="causalChart"></canvas>
    </div>
    
    <script>
        var ctx = document.getElementById('causalChart').getContext('2d');
        var causalChart = new Chart(ctx, {
            type: 'bar', // or 'line', 'pie', etc.
            data: {
                labels: {{ causal_labels|safe }},
                datasets: [{
                    label: 'Total Amount',
                    data: {{ causal_data|safe }},
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
    
</div>
<!-- /.row -->
{% endblock %}