{% extends "../layout.html" %}
{% block header %}
<span class="navbar-brand mb-0 h1">Navbar</span>
          
    
            <!-- Undo and Redo Icons -->
            <div class="ml-2 d-flex align-items-stretch">
              <button class="btn btn-lg btn-light btn-link mr-3" id="undo-button" title="Undo">
                    <i class="fas fa-undo">back</i>
                </button>
                <h2 class='mr-3'><strong>{{ page_identifier }}</strong></h2>
            </div>
{% endblock header %}
{% block content %}
<div class="container mt-4">
    <h2>Delete School Year</h2>
    <p>Are you sure you want to delete the school year "{{ object.nom }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete</button>
        <a href="{% url 'annee_scolaire_manage' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
