{% extends "../layout.html" %}

{% block content %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Delete School</li>
</ol>
<div class="container">
    <h1>Are you sure you want to delete this school?</h1>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete</button>
        <a href="{% url 'student_management' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
