{% extends "../layout.html" %}

{% block header %}
<span class="navbar-brand mb-0 h1">Navbar</span>
          
    
            <!-- Undo and Redo Icons -->
            <div class="ml-2 d-flex align-items-stretch">
                <button class=" mr-3 class-card " id="undo-button" title="Undo">
                    <i class="fas fa-undo fa-lg"></i>
                </button>
                <h2 class='mr-3'><strong>{{ page_identifier }}</strong></h2>
            </div>
{% endblock header %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Select School Year</h2>
    <form method="post" action="{% url 'select_school_year' %}" class="text-center">
        {% csrf_token %}
        <div class="form-group d-inline-block">
            <label for="school_year" class="font-weight-bold">Choose a School Year:</label>
            <select name="school_year" id="school_year" class="form-control">
                {% for year in all_years %}
                    <option value="{{ year.id }}" {% if year.id|stringformat:"s" == current_year_id %}selected{% endif %}>
                        {{ year.nom }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Save Selection</button>
    </form>
</div>
{% endblock %}
