{% extends "../../layout.html" %}
{% block header %}
<span class="navbar-brand mb-0 h1 text-white">cashier management</span>
          
    
            <!-- Undo and Redo Icons -->
            <div class="ml-2 d-flex align-items-stretch">
                <a href="{% url 'create_cashier' %}" class="class-card mr-3">Add New Cashier</a>
                <button class="class-card mr-3 hidden-print" onclick="myFunction()"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print</button>
                <a href="{% url 'home' %}" class="class-card mr-3">Cancel</a>
                 <button class=" mr-3 class-card " id="undo-button" title="Undo">
                    <i class="fas fa-undo fa-lg"></i>
                </button>
                <h2 class='mr-3 text-white'><strong>{{ page_identifier }}</strong></h2>
            </div>
{% endblock header %}

{% block content %}
<div class="container mt-4">
    <h2>Cashiers</h2>
  

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Note</th>
                <th>Default</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for cashier in cashiers %}
            <tr>
                <td>{{ cashier.name }}</td>
                <td>{{ cashier.type }}</td>
                <td>{{ cashier.note }}</td>
                <td>{{ cashier.is_default|yesno:"Yes,No" }}</td> <!-- Display Yes/No -->
                <td>
                    
                    <a href="{% url 'update_cashier' cashier.pk %}" class="btn btn-warning">Edit</a>
                    <a href="{% url 'delete_cashier' cashier.pk %}" class="btn btn-danger">Delete</a>
                    <a href="{% url 'cashier_detail' cashier.pk %}" class="btn btn-danger">detail</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No cashiers available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
