{% extends "../../layout.html" %}


{% block content %}

<style>
    /* General page styling */
    body {
        font-family: Arial, sans-serif;
        color: #333;
    }

    h2 {
        font-size: 28px;
        color: #34495e;
        margin-bottom: 20px;
        text-align: center;
    }

    .form-container {
        width: 50%;
        margin: 0 auto;
   
        padding: 20px 30px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    form {
        width: 100%;
    }

    .form-group {
        margin-bottom: 15px;
    }

    label {
        font-size: 16px;
        color: #2c3e50;
        font-weight: bold;
    }

    input, select, textarea {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        margin-bottom: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 16px;
        color: #2c3e50;
    }

    input[type="date"] {
        padding: 8px;
    }

    button[type="submit"] {
        width: 100%;
        padding: 12px;
        font-size: 18px;
        background-color: #b12900a6;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    button[type="submit"]:hover {
        background-color: #1c598a;
    }

    /* Responsive Design */
    @media (max-width: 768px) {
        .form-container {
            width: 90%;
            padding: 15px;
        }

        h2 {
            font-size: 24px;
        }

        button[type="submit"] {
            font-size: 16px;
            padding: 10px;
        }
    }
</style>
<h2>Add Payment for {{ student.nom }} {{ student.prenom }}</h2>
<div class="form-container">
    <form method="POST" action="{% url 'add_paiement' student.pk %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Submit payment</button>
    </form>
</div>
{% endblock %}