{% extends "../../layout.html" %}

{% block title %}Types of Fees{% endblock %}
{% block content %}
  <h2>Types of Fees</h2>
  <a href="{% url 'tarif_create' %}" class="btn btn-primary mb-3">Add New Fee</a>
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Type</th>
          <th>Amount</th>
          <th>Class</th>
          <th>School Year</th>
          <th>Expiration Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for tarif in tarifs %}
          <tr>
            <td>{{ tarif.id }}</td>
            <td>{{ tarif.get_causal_display }}</td>
            <td>{{ tarif.montant }}</td>
            <td>{{ tarif.classe }}</td>
            <td>{{ tarif.annee_scolaire }}</td>
            <td>{{ tarif.date_expiration }}</td>
            <td>
              <a href="{% url 'tarif_update' tarif.pk %}" class="btn btn-secondary btn-sm">Edit</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}