{% extends "../../layout.html" %}

{% block content %}
<h2>Accounting C_SCO Report ({{ period }})</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Period Start Date</th>
            <th>Type</th>
            <th>Causal</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {% for item in report_data %}
        <tr>
            <td>{{ item.period_start }}</td>
            <td>{{ item.type }}</td>
            <td>{{ item.causal }}</td>
            <td>{{ item.total }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
