{% extends "../../layout.html" %}

{% block content %}
<h2>Extended C_SCO Report</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Causal</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Progressive Balance</th>
        </tr>
    </thead>
    <tbody>
        {% for item in report_data %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.type }}</td>
            <td>{{ item.causal }}</td>
            <td>{{ item.amount }}</td>
            <td>{{ item.date }}</td>
            <td>{{ item.progressive_balance }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
