{% extends "../../layout.html" %}
{% load humanize %} <!-- Add this line -->

{% block content %}
<style>
    .table-container {
        max-width: 100%;
        overflow-x: auto;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        font-size: 14px;
        margin-bottom: 20px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
        font-size: 14px;
    }

    th, td {
        padding: 12px;
        text-align: center;
        border: 1px solid #dee2e6;
        background-color: #f9f9f9;
        transition: background-color 0.3s;
    }

    th {
        background-color: #333;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
    }

    .table tbody tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .table tbody tr:hover {
        background-color: #e9ecef;
    }

    .progressive-balance {
        font-weight: bold;
    }

    .header-row {
        background-color: #444;
        color: white;
        font-weight: bold;
        text-align: center;
        padding: 10px;
    }

    .text-right {
        text-align: right;
    }

    .text-left {
        text-align: left;
    }
</style>

<h2>Mouvement List - Transactions</h2>

<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Entrée (Income)</th>
                <th>Sortie (Expenses)</th>
                <th>Progressif (Progressive Balance)</th>
            </tr>
        </thead>
        <tbody>
            {% for mouvement in movements %}
            <tr>
                <td>{{ mouvement.date_paye|date:"d/m/Y" }}</td>
                <td class="text-left">{{ mouvement.description }}</td>
                <td class="text-right">
                    {% if mouvement.type == 'R' %}
                        {{ mouvement.montant|intcomma }} FCFA
                    {% endif %}
                </td>
                <td class="text-right">
                    {% if mouvement.type == 'D' %}
                        {{ mouvement.montant|intcomma }} FCFA
                    {% endif %}
                </td>
                <td class="progressive-balance text-right">{{ mouvement.progressive_total|intcomma }} FCFA</td>
            </tr>
        {% endfor %}
        
        </tbody>
    </table>
</div>
{% endblock %}
