{% extends "../layout.html" %}
{% load custom_filters %}

<!-- DataTables CSS and JavaScript -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>

{% block header %}

    <span class="navbar-brand mb-0 h1 text-white">Retards Paiement</span>

{% comment %}
    <span class="navbar-brand mb-0 h1 text-white">Retards Paiement {{ current_annee_scolaire.nom }}</span>
{% endcomment %}
<h4 class="navbar-brand mb-0 h1 text-white"><strong>Total :</strong> {{ grand_total_remaining|format_amount }}</h4>
<h4 class="navbar-brand mb-0 h1 text-white"><strong>Total SCO :</strong> {{ grand_total_diff_sco|format_amount }}</h4>
<h4 class="navbar-brand mb-0 h1 text-white"><strong>Total CAN :</strong> {{ grand_total_diff_can|format_amount }}</h4>

<div class="ml-2 d-flex align-items-stretch">
    <button class="class-card mr-3 " onclick="myFunction()"> Print</button>
    <a href="{% url 'home' %}" class="class-card mr-3">Cancel</a>
    <button class="class-card mr-3" id="undo-button" title="Undo">
        <i class="fas fa-undo"></i>
    </button>
    <button class="class-card mr-3" id="redo-button" title="Redo">
        <i class="fas fa-redo"></i>
    </button>
    <h2 class='mr-3 text-white'><strong>{{ page_identifier }}</strong></h2>
</div>
{% endblock header %}

{% block content %}

<style>
    .table-container {
        max-width: 100%;
        overflow-x: auto;
        border-radius: 10px;
    }
    .table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }
    .table th,
    .table td {
        padding: 5px 8px !important;
        font-size: 12px;
    }
    .table th {
        background-color: #333;
        color: #fff;
        text-transform: uppercase;
    }
    .class-header-row {
        background-color: #f8f9fa !important;
        font-weight: bold;
    }
    .highlight-negative {
        color: red;
        font-weight: bold;
    }
    .amount-col { text-align: right !important; }
    .left-col { text-align: left !important; }
    .paid { width: 5% !important; text-align: center;}
    .id { width: 2px !important; }
    .hand { width: 25px !important; }
    .prenom { width: 200px !important; }
    .nom { width: 200px !important; }
    .cs_py { width: 1% !important; }
    .col-sex { width: 1% !important; }
    .scuelo{ width: 5% !important}
    @media print {
        .hidden-print { display: none !important; }
        .class-section { 
            page-break-before: always; 
        }
        .class-section:first-child {
            page-break-before: auto;
        }
    }
</style>

<div class="table-container">
    <table class="table table-striped table-bordered" id="delaysTable">
        <thead>
            <tr>
                <th class='id'>ID</th>
                <th class='nom'>penom</th>
                <th class='prenom'>Prnom</th>
                <th class='col-sex'>Sex</th>
                <th class='cs_py'>cond</th>
                <th class='paid'> SCO Paid</th>
                <th class='paid'>Exigible</th>
                <th class='paid'>Diff. SCO</th>
                <th class='paid'>CAN Paid</th>
                <th class='paid'>Exigible</th>
                <th class='paid'>Diff. CAN</th>
                <th class='paid'>Retards</th>
                <th class='paid'>Retard (%)</th>
                <th class='paid'>Note</th>
            </tr>
        </thead>
        <tbody>
            {% for school, classes in data.items %}
                {% for class_name, class_info in classes.items %}
                <tr class="class-section">
                    <td colspan="14" class="class-header-row">Class: {{  class_name }}</td>
                </tr>
                {% for student in class_info.students %}
                <tr>
                    <td class='id'>{{ student.id }}</td>
                    <td>{{ student.nom }}</td>
                    <td>{{ student.prenom }}</td>
                    <td>{{ student.sex }}</td>
                    <td>{{ student.condition_eleve }}</td>
                    <td class='amount-col'>
                        {% if student.sco_paid == 0 %}-{% else %}{{ student.sco_paid|format_amount }}{% endif %}
                    </td>
                    <td class='amount-col'>
                        {% if student.sco_exigible == 0 %}-{% else %}{{ student.sco_exigible|format_amount }}{% endif %}
                    </td>
                    <td class="{% if student.diff_sco > 0 %}highlight-negative{% endif %} amount-col">
                        {% if student.diff_sco == 0 %}-{% else %}{{ student.diff_sco|format_amount }}{% endif %}
                    </td>
                    <td class='amount-col'>
                        {% if student.can_paid == 0 %}-{% else %}{{ student.can_paid|format_amount }}{% endif %}
                    </td>
                    <td class='amount-col'>
                        {% if student.can_exigible == 0 %}-{% else %}{{ student.can_exigible|format_amount }}{% endif %}
                    </td>
                    <td class="{% if student.diff_can > 0 %}highlight-negative{% endif %} amount-col">
                        {% if student.diff_can == 0 %}-{% else %}{{ student.diff_can|format_amount }}{% endif %}
                    </td>
                    <td class='amount-col'>
                        {% if student.retards == 0 %}-{% else %}{{ student.retards|format_amount }}{% endif %}
                    </td>
                    <td class="{% if student.remaining_percentage > 0 %}red-retard{% endif %} amount-col">
                        {% if student.remaining_percentage > 0 %}
                        -{{ student.remaining_percentage|floatformat:1 }}%
                        {% else %}
                        -
                        {% endif %}
                    </td>
                    <td>{{ student.note }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="7" style="text-align: right;">Class Total:</td>
                    <td class="{% if class_info.total_diff_sco > 0 %}highlight-negative{% endif %} amount-col">
                        {{ class_info.total_diff_sco|format_amount }}
                    </td>
                    <td></td>
                    <td></td>
                    <td class="{% if class_info.total_diff_can > 0 %}highlight-negative{% endif %} amount-col">
                        {{ class_info.total_diff_can|format_amount }}
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function() {
        $('#delaysTable').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            order: [[11, 'desc']]
        });
    });

    function myFunction() {
        window.print();
    }
</script>

{% endblock content %}
